@import "utilities.css";
:root {
  --primary: #3dcfd3;
  --dark: black;
  --pure: white;
  --ternary: #898989;
  --light: #f2f2f2;
  --secondary: #070606;
}
body {
  font-family: "Poppins", "sans-serif";
  height: 8000px;
}
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background: #161616;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 80%, 0 100%);
}
.container {
  max-width: 1100px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1152px;
  }
}
header nav .left a {
  color: white;
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
header nav .left a:hover {
  color: aqua;
}
header nav {
  padding: 2rem 0;
}
.download-resume {
  text-decoration: none; /* Removes underline from the link */
  color: inherit; /* Inherits the text color from the button */
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center; /* Centers the text */
  line-height: 0.2rem; /* Adjust this value to match your button's height */
}
.intro .left img {
  width: 400px;
  height: 700px;
}
.intro .right {
  color: white;
}
.intro .right h6 {
  font-size: 1.2rem;
  color: aqua;
}
.intro .right h1 {
  font-size: 3.4rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 2rem;
  width: 550px;
}
.intro .right {
  margin-top: -7rem;
}
.intro .right p {
  margin-bottom: 20px;
}
section {
  padding: 6rem 0;
}

section.About .flex1 .About-img {
  height: 22rem;
  width: 28rem;
}
section.About h1 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 400;
}
section.About h1 span {
  color: aqua;
}
section.About h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}
section.About p {
  font-family: "Lato", sans-serif;
  color: #898989;
  line-height: 1.8;
  margin-bottom: 2rem;
}
section.About .social {
  display: flex;
}
section.About .social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 60px;
  border-radius: 50%;
  margin-right: 0.6rem;
  transition: all 0.3s ease;
}

section.About .social a img {
  width: 100%;
  height: 100%;
  padding: 0.7rem;
}
section.About .flex1 .section-heading {
  font-size: 40px;
  margin-bottom: 2.9rem;
}
.section-heading {
  color: black;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 0.5;
  font-size: 35px;
  margin-bottom: 3.5rem;
}
.section-heading span {
  color: aqua;
}
.section-heading + p {
  color: #898989;
  font-family: "Lato", sans-serif;
  line-height: 1.8;
  margin-bottom: 3.3rem;
  text-align: center;
}

section.Services {
  background: lightgray;
}
section.Services .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 6rem;
}
section.Services .cards .card {
  background: aqua;
  padding: 3rem 2rem;
  position: relative;
  padding: 4.5rem;
  text-align: center;
  transition: all 0.3s ease;
}
section.Services .cards .card img {
  position: absolute;
  height: 110px;
  width: 120px;
  top: -3.5rem;
  left: 50%;
  transform: translateX(-50%);
}
section.Services .cards .card h2 {
  font-weight: 510;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
section.Services .cards .card p {
  font-family: "Lato", sans-serif;
  color: #898989;
  line-height: 1.6;
}
section.Services .cards .card:hover {
  background: lightgray;
}
section.Services .cards .card:hover h2,
section.Services .cards .card:hover p {
  color: white;
}
section.Volunteer {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(../Imagess/camera.png);
  color: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 90%, 0 100%);
  padding-bottom: 14rem;
  height: 770px;
  color: aqua;
}
section.Volunteer h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
section.Volunteer h2 {
  color: aqua;
  margin-bottom: 2rem;
}
section.Volunteer h4 {
  color: aliceblue;
  margin-bottom: 0.7rem;
  line-height: 3rem;
}
section.Volunteer p {
  padding: 0rem 10rem;
  width: 92rem;
  font-size: 1.3rem;
  margin-bottom: 5rem;
  font-family: "Lato", sans-serif;
  color: white;
}
section.reviews .slider .slide img {
  height: 320px;
  width: 230px;

  object-fit: cover;
  margin-bottom: 1rem;
}
section.reviews .slider .slide {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 6rem;
}
section.reviews .slider .slide p {
  font-family: "Lato", sans-serif;
  margin-bottom: 1rem;
  color: #898989;
}
section.reviews .slider-dots .dots {
  list-style-type: none;
  display: flex !important;
  justify-content: center;
}
section.reviews .slider-dots {
  margin-top: 3rem;
}

section.reviews .slider-dots button {
  font-size: 0;
  width: 25px;
  height: 10px;
  margin-right: 0.3rem;
  border: none;
  outline: none;
  background: var(--ternary);
  border-radius: 50px;
  cursor: pointer;
}
section.reviews .dots li.slick-active button {
  background: var(--primary);
  width: 40px;
}
section.projects {
  background: var(--light);
  height: 950px;
}
section.projects .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; /* Gap between grid items */
  padding: 120px;
  padding-top: 10px;
}
section.projects .card-wrapper .card {
  position: relative;
  height: 250px;
  margin-top: 20px;
}
section.projects .card-wrapper .card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(61, 207, 211, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--light);
  opacity: 0;
  transition: all 0.3s ease;
}
section.projects .card-wrapper .card:hover .overlay {
  opacity: 1;
}

section.projects .card-wrapper .card .overlay a {
  color: var(--secondary);
  text-decoration: none;
}
section.projects .card-wrapper .card img {
  height: 100%;
  width: 100%;
}
section.Acheivements {
  background: black;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
  padding-bottom: 10rem;
}
section.Acheivements .section-heading {
  color: white;
}
section.Acheivements .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  padding: 120px;
}
section.Acheivements .card-wrapper .card {
  background: white;
}
section.Acheivements .card-wrapper .card .img-wrapper img {
  width: 15rem;
  height: 10rem;
  object-fit: cover;
  margin-right: 150px;
}
section.Acheivements .card-wrapper .card .card-content {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
section.Acheivements .card-wrapper .card .card-content h1 {
  font-size: 1rem;
  font-weight: bold;
}
section.Acheivements .card-wrapper .card .card-content p {
  font-family: "Lato", sans-serif;
  margin-bottom: 1rem;
  color: #898989;
  margin-top: 1rem;
}
section.contact .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
section.contact .card-wrapper .card {
  text-align: center;
}
section.contact .card-wrapper .card img {
  margin-bottom: 3rem;
  width: 8.5rem;
  height: 8.5rem;
}
section.contact .card-wrapper .card h1 {
  font-weight: 400;
  margin-bottom: 1rem;
}
section.contact .card-wrapper .card h6 {
  font-size: 1rem;
  color: var(--ternary);
  font-weight: 400;
  margin-bottom: 4rem;
}

section.contact .input-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
section.contact .input-wrap-2 {
  display: flex;
  flex-direction: column;
}
section.contact .input-wrap-2 input {
  margin-bottom: 2rem;
}
section.contact input {
  padding: 0.5rem;
  border: 1px solid var(--light);
  font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea {
  padding: 0.5rem;
  border: 1px solid var(--light);
  font-size: 0.9rem;
}
section.contact .input-wrap-2 textarea:focus,
section.contact input:focus {
  outline: none;
}
section.contact .b-wrapper {
  text-align: center;
  margin-top: 2rem;
}
section.contact .input-wrap-2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  padding: 0.5rem;
}
section.contact input {
  padding: 0.5rem;
}
footer {
  background: var(--dark);
  text-align: center;
  padding: 5rem 0;
}
footer .o h1 {
  color: white;
  margin-bottom: 2rem;
}

footer .footer-logo {
  margin-bottom: 3rem;
  width: 150px;
}
footer .footer-socials a {
  margin-right: 1rem;
}
footer .footer-socials img {
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 20%;
}
footer .footer-socials {
  margin-bottom: 3rem;
  margin-right: -1rem;
}
footer .copyright {
  color: var(--ternary);
}
@media (max-width: 1024px) {
  header #main-nav {
    display: none;
  }
}
.site-main-wrapper {
  position: relative;
}
.hamberger {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 11;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.hamberger img {
  width: 30px;
}
.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  background: var(--light);
  width: 100%;
  height: 100%;
  padding: 2rem;
  padding-top: 5rem;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}
.open {
  transform: translateX(0);
}
.times {
  position: fixed;
  top: 30px;
  right: 30px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
.times img {
  width: 30px;
}
.mobile-nav ul {
  list-style-type: none;
}
.mobile-nav ul li a {
  color: var(--secondary);
  text-decoration: none;
  font-size: 2rem;
}
@media (max-width: 1024px) {
  header #main-nav {
    display: none;
  }
  .hamberger {
    display: block;
  }
  .hero .left img {
    width: 260px;
  }
  .hero .right h1 {
    font-size: 3rem;
  }
  .hero {
    padding-top: 10rem;
  }
  header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 27% 89%, 0 100%);
  }
  section.About .About-img {
    height: 360px;
  }
  section.Services .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  section.projects .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  section.Acheivements .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  section.Acheivements {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 97%, 0 100%);
  }
}
@media (max-width: 576px) {
  .intro {
    flex-direction: column;
  }
  header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 69% 95%, 0 100%);
  }
  .intro .right {
    position: absolute;
    top: 260px;
    padding: 0 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  }
  .intro .left {
    margin-top: -5rem;
    margin-right: -9rem;
    padding-bottom: 4rem;
  }
  .about-inner-wrap {
    flex-direction: column;
  }
  .About .right {
    text-align: center;
    margin-top: 2rem;
  }
  .About .right .social {
    justify-content: center;
  }
  section {
    padding: 4rem 0;
  }
  section.Services .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 6rem;
  }
  section.freelancer h1 {
    line-height: 1.2;
  }
  section.freelancer {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
    padding-bottom: 8rem;
  }
  section.reviews .slider .slide {
    padding: 0;
  }
  .section-heading + p {
    margin-bottom: 3rem;
  }
  section.projects .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  section.contact .card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  section.contact .input-wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
